# --- macOS + VS Code + projet Python simple ---
.DS_Store
.AppleDouble
.LSOverride

__pycache__/
*.py[cod]
*$py.class

venv/
.env/
.venv/
env/

*.env
.env.*

*.log
*.tmp
*.bak
*.swp

.cache/
*.egg-info/
.eggs/
dist/
build/

.vscode/

.pytest_cache/
.coverage
htmlcov/

